header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #f3f3f3;

    .header-logo {
        span {
            color: #0eb846;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        button {
            background-color: #fff;
            border: none;
            color: #0f9c3e;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            padding: 8px 14px;
        }
    }
}